<section class="logo">
  <h1>SARAH PELHAM</h1>
</section>

<div class="main-content wrap flex">
  <div class="top">
    <section class="space-bw wrap flex">
      <div>
        <p>hello@sarahpelham.com</p>
        <p>Melbourne, Australia</p>
      </div>
      <div>
        <div class="social-links flex wrap">
          <%= link_to "https://github.com/sarahpelham", target: :_blank do %>
            <p>GITHUB<i class="fab fa-brands fa-github"></i></p>
          <% end %>
        </div>
        <div class="social-links flex wrap">
          <%= link_to "https://www.linkedin.com/in/sarah-m-pelham/", target: :_blank, class: "social-links" do %>
            <p>LINKEDIN<i class="fab fa-brands fa-linkedin"></i></p>
          <% end %>
        </div>
      </div>
    </section>

    <section>
      <div class="inner-section">
        <h5>Services and Tech:</h5>
        <div>
          <div><p>Full Stack Web Development</p></div>
          <div><p>Product Management</p></div>
          <div><p>UX UI Design</p></div>
          <div><p>Branding, Content and SEO Marketing</p></div>
        </div>
      </div>
      <div>
        <div>
          <div><p>Ruby on Rails</p></div>
          <div><p>JavaScript</p></div>
          <div><p>HTML and CSS</p></div>
          <div><p>PostgreSQL</p></div>
          <div><p>Bootstrap</p></div>
          <div><p>Figma</p></div>
          <div><p>Adobe Photoshop</p></div>
        </div>
      </div>
    </section>

    <section>
      <div>
        <h5>Projects:</h5>
        <div class="project">
          <div class="text wrap flex space-bw" data-bs-toggle="collapse" data-bs-target="#learnest" data-controller="accordion-icon" data-action="click->accordion-icon#iconToggle">
            <div><p>Learnest Web App</p></div>
            <div><p>2022<i class="fas fa-solid fa-plus" data-accordion-icon-target="icon"></i></p></div>
          </div>
          <div id="learnest" class="collapse">
            <div class="content">
              <%= image_tag("Learnest.jpg")%>
              <p>Three teammates and I built a question and answer web app for post-secondary students and teachers, <%= link_to "Learnest", "https://learnest-app.herokuapp.com/", target: :_blank, class: "project-links"%>, as a final project in Le Wagon's web development bootcamp.</p>
              <p>My main backend contributions included web scraping and then storing, parsing and importing the JSON seed file.</p>
              <p>My main frontend contributions included overall brand and UX/UI design, the homepage, question and answer card design and responsiveness.</p>
              <p>Tech: Ruby on Rails, Heroku, PostgreSQL, Javascript, StimulusJS, HTML, SCSS, Bootstrap, Devise Authentication, Pundit Authorization, Nokogiri Parsing</p>
              <p class="project-links"><%= link_to "Learnest", "https://learnest-app.herokuapp.com/", target: :_blank %></p>
              <p class="project-links"><%= link_to "Demo Presentation", "https://www.youtube.com/watch?v=EtgwZE8tK1M&t=1031s", target: :_blank %></p>
              <p class="project-links"><%= link_to "GitHub", "https://github.com/ConnorSand/Learnest", target: :_blank %></p>
            </div>
          </div>
        </div>
        <div class="project">
          <div class="text wrap flex space-bw" data-bs-toggle="collapse" data-bs-target="#standupFinder" data-controller="accordion-icon" data-action="click->accordion-icon#iconToggle">
            <div>Standup Finder Web App</div>
            <div><p>2022<i class="fas fa-solid fa-plus" data-accordion-icon-target="icon"></i></p></div>
          </div>
          <div id="standupFinder" class="collapse">
            <div class="content">
              <%= image_tag("StandupFinder.jpg")%>
              <p>Three teammates and I built a two-sided marketplace web app for booking and listing stand-up comedy shows, <%= link_to "Standup Finder", "https://comedy-app.herokuapp.com/", target: :_blank, class: "project-links"%>, as a project in Le Wagon's web development bootcamp. The idea came from a stand-up comedian friend of mine, <%= link_to "Jordan Gray", "https://www.jordanthomasgray.com/", target: :_blank, class: "project-links"%></p>
              <p>My main backend contributions included setting up routes, models and controllers, the skeleton index view and the geocoded map feature.</p>
              <p>My main frontend contributions included overall brand and UX/UI design, the homepage and index card design.</p>
              <p>Tech: Ruby on Rails, Heroku, PostgreSQL, Javascript, StimulusJS, HTML, SCSS, Bootstrap, Devise Authentication, Geocoder, Mapbox API</p>
              <p class="project-links"><%= link_to "Standup Finder", "https://comedy-app.herokuapp.com/", target: :_blank %></p>
              <p class="project-links"><%= link_to "GitHub", "https://github.com/Brianhuynh97/Comedy-app", target: :_blank %></p>
            </div>
          </div>
        </div>
        <div class="project">
          <div class="text wrap flex space-bw" data-bs-toggle="collapse" data-bs-target="#brandConsulting" data-controller="accordion-icon" data-action="click->accordion-icon#iconToggle">
            <div>Brand and Content Consulting</div>
            <div><p>2022<i class="fas fa-solid fa-plus" data-accordion-icon-target="icon"></i></p></div>
          </div>
          <div id="brandConsulting" class="collapse">
            <div class="content">
              <p>I'm advising on brand, content and tone-of-voice guidelines for B2B and B2C marketing materials for a client.</p>
            </div>
          </div>
        </div>
        <div class="project">
          <div class="text wrap flex space-bw" data-bs-toggle="collapse" data-bs-target="#seoProduct" data-controller="accordion-icon" data-action="click->accordion-icon#iconToggle">
            <div>SEO Product Management</div>
            <div><p>2022<i class="fas fa-solid fa-plus" data-accordion-icon-target="icon"></i></p></div>
          </div>
          <div id="seoProduct" class="collapse">
            <div class="content">
              <p>I'm directing a technical SEO content project for a client, which involves working with developers and managing a team of freelance copywriters.</p>
            </div>
          </div>
        </div>
        <div class="project">
          <div class="text wrap flex space-bw" data-bs-toggle="collapse" data-bs-target="#digitalTransform" data-controller="accordion-icon" data-action="click->accordion-icon#iconToggle">
            <div>Digital Transformation Consulting</div>
            <div><p>2021<i class="fas fa-solid fa-plus" data-accordion-icon-target="icon"></i></p></div>
          </div>
          <div id="digitalTransform" class="collapse">
            <div class="content">
              <p>I led process improvement, digitization and automation for two clients.</p>
            </div>
          </div>
        </div>
        <div class="project">
          <div class="text wrap flex space-bw"  data-bs-toggle="collapse" data-bs-target="#seoConsult" data-controller="accordion-icon" data-action="click->accordion-icon#iconToggle">
            <div>SEO Content Consulting</div>
            <div><p>2021<i class="fas fa-solid fa-plus" data-accordion-icon-target="icon"></i></p></div>
          </div>
          <div id="seoConsult" class="collapse">
            <div class="content">
              <p>I created SEO content guides for a client.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div class="bottom">
      <p>Last Updated: June 29, 2022</p>
  </div>

</div>
