<section class="logo">
  <h1>SARAH PELHAM</h1>
</section>

<div class="main-content wrap flex">
  <div class="top">
    <section class="space-bw wrap flex">
      <div>
        <p>hello@sarahpelham.com</p>
        <p>Melbourne, Australia</p>
      </div>
      <div>
        <p class="social-links"><%= link_to "GITHUB", "https://github.com/sarahpelham", target: :_blank %>
        <br>
        <%= link_to "LINKEDIN", "https://www.linkedin.com/in/sarah-m-pelham/", target: :_blank %></p>
      </div>
    </section>

    <section>
      <div class="inner-section">
        <h5>Services and Tech:</h5>
        <div>
          <div><p>Full Stack Web Development</p></div>
          <div><p>Product Management</p></div>
          <div><p>UX UI Design</p></div>
          <div><p>Branding, Content and SEO Marketing</p></div>
        </div>
      </div>
      <div>
        <div>
          <div><p>Ruby on Rails</p></div>
          <div><p>JavaScript</p></div>
          <div><p>HTML and CSS</p></div>
          <div><p>PostgreSQL</p></div>
          <div><p>Figma</p></div>
          <div><p>Adobe Photoshop</p></div>
        </div>
      </div>
    </section>

    <section>
      <div>
        <h5>Projects:</h5>
        <div class="project">
          <div class="text wrap flex space-bw" data-bs-toggle="collapse" data-bs-target="#scented">
            <div>Scented Web App</div>
            <div>2022</div>
          </div>
          <div id="scented" class="collapse">
            <div class="content">
              <p>I'm making a web app for discovering fragrances for fun. The app finds patterns based on fragrance data and a user's fragrance ratings, in order to recommend fragrances to try.</p>
              <p>Tech: Ruby on Rails, Heroku, JavaScript</p>
            </div>
          </div>
        </div>
        <div class="project">
          <div class="text wrap flex space-bw" data-bs-toggle="collapse" data-bs-target="#learnest">
            <div>Learnest Web App</div>
            <div>2022</div>
          </div>
          <div id="learnest" class="collapse">
            <div class="content">
              <p>Three teammates and I built a question and answer web app for post-secondary students and teachers, <%= link_to "Learnest", "https://learnest-app.herokuapp.com/", target: :_blank, class: "project-links"%>, as a final project in Le Wagon's web development bootcamp.</p>
              <p>My main backend contributions included web scraping and then storing, parsing and importing the JSON seed file.</p>
              <p>My main frontend contributions included overall brand and UX/UI design, the homepage, question and answer card design and responsiveness.</p>
              <p>Tech: Ruby on Rails, Heroku, PostgreSQL, Javascript, StimulusJS, HTML, SCSS, Bootstrap, Devise Authentication, Pundit Authorization, Nokogiri Parsing</p>
              <p class="project-links"><%= link_to "Learnest", "https://learnest-app.herokuapp.com/", target: :_blank %></p>
              <p class="project-links"><%= link_to "GitHub", "https://github.com/ConnorSand/Learnest", target: :_blank %></p>
            </div>
          </div>
        </div>
        <div class="project">
          <div class="text wrap flex space-bw" data-bs-toggle="collapse" data-bs-target="#standupFinder">
            <div>Standup Finder Web App</div>
            <div>2022</div>
          </div>
          <div id="standupFinder" class="collapse">
            <div class="content">
              <p>Three teammates and I built a two-sided marketplace web app for booking and listing stand-up comedy shows, <%= link_to "Standup Finder", "https://comedy-app.herokuapp.com/", target: :_blank, class: "project-links"%>, as a project in Le Wagon's web development bootcamp.</p>
              <p>My main backend contributions included setting up routes, models and controllers, skeleton index view and the geocoded map feature.</p>
              <p>My main frontend contributions included overall brand and UX/UI design, the homepage and index card design.</p>
              <p>Tech: Ruby on Rails, Heroku, PostgreSQL, Javascript, StimulusJS, HTML, SCSS, Bootstrap, Devise Authentication, Geocoder, Mapbox API</p>
              <p class="project-links"><%= link_to "Standup Finder", "https://comedy-app.herokuapp.com/", target: :_blank %></p>
              <p class="project-links"><%= link_to "GitHub", "https://github.com/Brianhuynh97/Comedy-app", target: :_blank %></p>
            </div>
          </div>
        </div>
        <div class="project">
          <div class="text wrap flex space-bw" data-bs-toggle="collapse" data-bs-target="#brandConsulting">
            <div>Brand and Content Consulting</div>
            <div>2022</div>
          </div>
          <div id="brandConsulting" class="collapse">
            <div class="content">
              <p>I'm advising on brand and content guidelines, B2B and B2C marketing tone of voice for two clients.</p>
            </div>
          </div>
        </div>
        <div class="project">
          <div class="text wrap flex space-bw" data-bs-toggle="collapse" data-bs-target="#seoProduct">
            <div>SEO Product Management</div>
            <div>2022</div>
          </div>
          <div id="seoProduct" class="collapse">
            <div class="content">
              <p>I'm directing a technical SEO content project, working with development and managing a team of freelance copywriters.</p>
            </div>
          </div>
        </div>
        <div class="project">
          <div class="text wrap flex space-bw" data-bs-toggle="collapse" data-bs-target="#digitalTransform">
            <div>Digital Transformation Consulting</div>
            <div>2021</div>
          </div>
          <div id="digitalTransform" class="collapse">
            <div class="content">
              <p>I led process improvement, digitization and automation for two clients.</p>
            </div>
          </div>
        </div>
        <div class="project">
          <div class="text wrap flex space-bw"  data-bs-toggle="collapse" data-bs-target="#seoConsult">
            <div>SEO Content Consulting</div>
            <div>2021</div>
          </div>
          <div id="seoConsult" class="collapse">
            <div class="content">
              <p>I created SEO content guides for a client.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div class="bottom">
      <p>Last Updated: June 27, 2022</p>
  </div>

</div>
